{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate "Change password" %}{% endblock %}
{% block content %}
  <h1>{% translate "Change password" %}</h1>
  {% if forced %}
    <p class="notice">{% translate "You are using a temporary password. Please choose your own password to continue." %}</p>
  {% endif %}
  <form method="post" class="form">
    {% csrf_token %}
    {{ form.as_div }}
    <button type="submit" class="button">{% translate "Save password" %}</button>
  </form>
{% endblock %}
